
.product .carousel-item.active,
.product .carousel-item-next,
.product .carousel-item-prev {
  display: flex;
}

.product .carousel-item-right.active,
.product .carousel-item-next {
  transform: translateX(25%);
}

.product .carousel-item-left.active, 
.product .carousel-item-prev {
  transform: translateX(-25%);
}
  
.product .carousel-item-right,
.product .carousel-item-left{ 
  transform: translateX(0);
  
}

